/* ============ Windows 98 Style ============ */

body{
    margin:0;
    padding:60px;

    background:#c0c0c0;

    color:#111;

    font-family:"Times New Roman", serif;
}


/* 标题 */

header{

    text-align:center;

    margin-bottom:70px;

}

header h1{

    font-size:72px;

    font-weight:400;

    letter-spacing:8px;

    color:#1a1a1a;

}


/* 项目 */

.project{

    display:block;

    text-decoration:none;

    color:#111;

    padding:26px 18px;

    border-top:1px solid #8e8e8e;

    transition:
        background .18s,
        padding-left .25s;

}

/* 最后一条 */

.project:last-child{

    border-bottom:1px solid #8e8e8e;

}


/* hover */

.project:hover{

    background:#d8d8d8;

    padding-left:34px;

}


/* 标题 */

.project h2{

    font-size:34px;

    font-weight:400;

    margin-bottom:6px;

    transition:.25s;

}

.project:hover h2{

    transform:scale(1.03);

    transform-origin:left;

}


/* 副标题 */

.project p{

    color:#666;

    font-size:15px;

}


/* 点击以后 */

.project:visited h2{

    text-decoration:underline;

}


/* 去掉超链接颜色 */

.project:link,
.project:visited,
.project:active{

    color:#111;

}


/* 鼠标 */

.project{

    cursor:pointer;

}
