body {
    background: #008080;
    color: black;
    text-align: center;

    font-family: Tahoma, Arial, sans-serif;
}

img {
    margin-top: 200px;
}

.cover-area{
    display:flex;

    justify-content:center;

    align-items:center;

    margin-top:200px;
}

.menu{
    margin-right:50px;
}
